// GRID

$grid-width: 130rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// COLORS

$color-dark-green-1: rgb(0, 74, 0);
$color-dark-green-2: rgb(86, 128, 86);
$color-light-green-1: rgb(219, 243, 219);
