// PADDINGS

.pd-bottom-sm {
  padding-bottom: 2rem !important;
}
.pd-bottom-med {
  padding-bottom: 5rem !important;
}
.pd-bottom-lg {
  padding-bottom: 10rem !important;
}
.pd-bottom-exlg {
  padding-bottom: 15rem !important;
}

.pd-top-sm {
  padding-top: 2rem !important;
}
.pd-top-med {
  padding-top: 5rem !important;
}
.pd-top-lg {
  padding-top: 10rem !important;
}
.pd-top-exlg {
  padding-top: 15rem !important;
}
