.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  align-items: center;

  background-color: $color-light-green-1;

  @include respond(tab-port) {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 100%;
  }

  &__left {
    display: grid;
    grid-template-columns: 1 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-row-gap: 4rem;
    justify-content: center;

    padding: 2rem;

    @include respond(tab-port) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      padding: 3rem 5rem 5rem 5rem;
    }
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include respond(tab-port) {
      grid-template-columns: repeat(2, min-content);

      grid-column-gap: 4rem;
    }
  }

  &__right {
    border: 0.2rem $color-dark-green-1 solid;
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
    border-right: none;

    @include respond(tab-port) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;

      border-top-left-radius: 30rem;
      border-bottom-left-radius: 30rem;
    }
  }

  &__container {
    background-color: $color-dark-green-2;
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
      border-top-left-radius: 30rem;
      border-bottom-left-radius: 30rem;
    }
  }

  &__image {
    height: 90%;
    width: 90%;

    @include respond(tab-port) {
      width: 60%;
      height: 60%;
    }

    @include respond(tab-land) {
      width: 50%;
      height: 50%;
    }
  }
}
