.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-light-green-1;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    margin-left: 2rem;
  }

  &__logo {
    fill: $color-dark-green-1;
    width: 20%;
  }

  &__heading {
    width: 75%;
  }

  &__menu {
    width: 65%;
    display: flex;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
  }

  &__link {
    text-decoration: none;
  }
}
