.products {
  background-color: $color-dark-green-2;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-gap: 8rem;
    background-color: $color-dark-green-2;
  }
}
